<a href="https://colab.research.google.com/github/ibong74/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_2%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# 오픈소스 기반 데이터 분석 2강 - 데이터 분석을 위한 파이썬 1

## 2-1 리스트 슬라이싱

In [6]:
numbers = [10, 20, 30, 40, 50, 60, 70]
# 첫 4개의 원소 출력
first_four = numbers[0:4]
print(first_four)
first_four_2 = numbers[:4]
print(first_four_2)
# 뒤 3개의 원소를 출력
last_three = numbers[-3:7]
print(last_three)
last_three_2 = numbers[-3:]
print(last_three_2)

[10, 20, 30, 40]
[10, 20, 30, 40]
[50, 60, 70]
[50, 60, 70]

In [7]:
numbers = [10, 20, 30, 40, 50, 60, 70]

# 홀수번째 항목 출력
every_other_list = numbers[::2]
print(every_other_list)

# 역순 출력
reverse_list = numbers[::-1]
print(reverse_list)

[10, 30, 50, 70]
[70, 60, 50, 40, 30, 20, 10]

In [9]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [13, 14, 15, 16]
]

# 첫 두 행 출력
first_two_rows = matrix[0:2]
print(first_two_rows)

# 첫 두 열 출력
first_two_columns = [ row[0:2] for row in matrix]
print(first_two_columns)
last_two_columns = [row[2:4] for row in matrix]
print(last_two_columns)

[[1, 2, 3, 4], [5, 6, 7, 8]]
[[1, 2], [5, 6], [9, 10], [13, 14]]
[[3, 4], [7, 8], [11, 12], [15, 16]]

## 2-2 리스트 컴프리헨션

In [13]:
numbers = [ ]
# 0 ~ 4 포함 리스트 생성
for i in range(5):
    numbers.append(i)
print(numbers)

# 0 - 9 포함 리스트 생성 (리스트 컴프리헨션을 적용)
numbers2 = [i for i in range(10)]
print(numbers2)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
numbers = [1, 2, 3, 4, 5]
squares = [ ]

# numbers의 모든 항목의 값을 제곱한 리스트
for num in numbers:
  squares.append(num ** 2)

print(squares)


# 컴프리헨션을 이용한 제곱 리스트
squares2 = [num ** 2 for num in numbers]
print(squares2)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [16]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [ ]

# 짝수만 추출한 리스트
for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)

print(even_numbers)


# 컴프리헨션을 이용한 짝수 리스트
even_numbers2 = [num for num in numbers if num % 2 == 0]
print(even_numbers2)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [18]:
list1 = ['사과', '복숭아', '바나나']
list2 = ['주스', '잼', '통조림']
pairs = [ ]

# 두 리스트에 포함되 모든 원소를 조합한 투플의 리스트 생성
for fruit in list1:
    for product in list2:
        pairs.append((fruit, product))

print(pairs)

# 컴프리헨션을 이용한 투플 리스트 생성
pairs2 = [(fruit2, product2) for fruit2 in list1 for product2 in list2]
print(pairs2)

[('사과', '주스'), ('사과', '잼'), ('사과', '통조림'), ('복숭아', '주스'), ('복숭아', '잼'), ('복숭아', '통조림'), ('바나나', '주스'), ('바나나', '잼'), ('바나나', '통조림')]
[('사과', '주스'), ('사과', '잼'), ('사과', '통조림'), ('복숭아', '주스'), ('복숭아', '잼'), ('복숭아', '통조림'), ('바나나', '주스'), ('바나나', '잼'), ('바나나', '통조림')]

In [21]:
squares = { }

# 딕셔너리 생성
for i in range(5):
    squares[i] = i ** 2

print(squares)

squares2 = {i:i**2 for i in range(10)}
print(squares2)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [27]:
city_population = {
    '서울': 957, '부산': 339, '인천': 294, '대구': 242, '광주': 145, '대전': 147,
    '울산': 114, '세종': 36, '수원': 115, '창원': 103, '고양': 105, '용인': 108, '성남': 94
}

# 전체 리스트 출력
all_cities = {city:pop for city, pop in city_population.items()}
print("전체 리스트 출력")
print(all_cities)

# 인구 200만명 이상의 도시 리스트
large_cities = {city:pop for city, pop in city_population.items() if pop >= 200}
print("인구 200만명 이상의 도시 리스트")
print(large_cities)

# 도시 이름에 '산'이 포함된 도시 리스트
san_name_cities = {city:pop for city, pop in city_population.items() if '산' in city}
print("도시 이름에 '산'이 포함된 도시 리스트")
print(san_name_cities)

# 인구 300만 이상 및 이름에 '산'이 포함된 도시 리스트
large_short_name_cities = {city:pop for city, pop in city_population.items() if pop >= 300 and '산' in city}
print("인구 300만 이상 및 이름에 '산'이 포함된 도시 리스트")
print(large_short_name_cities)

전체 리스트 출력
{'서울': 957, '부산': 339, '인천': 294, '대구': 242, '광주': 145, '대전': 147, '울산': 114, '세종': 36, '수원': 115, '창원': 103, '고양': 105, '용인': 108, '성남': 94}
인구 200만명 이상의 도시 리스트
{'서울': 957, '부산': 339, '인천': 294, '대구': 242}
도시 이름에 '산'이 포함된 도시 리스트
{'부산': 339, '울산': 114}
인구 300만 이상 및 이름에 '산'이 포함된 도시 리스트
{'부산': 339}

## 2-3 문자열 형식화

In [29]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# C 스타일 문자열 포매팅
# 이름, 나이, 월급 출력
print("C 스타일 문자열 포매팅")
basic_format = '이름 : %s, 나이: %d, 급여:%d원' %(name, age, salary)
print(basic_format)

# 직원이름, 나이, 세후 월급 출력
print("index 스타일")
index_format = '이름:{0}, 나이:{1}, 급여:{2}원'.format(name, age, salary)
print(index_format)
index_format2 = '이름:{}, 나이:{}, 급여:{}원'.format(name, age, salary)
print(index_format2)


# 직원이름, 나이, 월급, 세금, 실수령액 추력
print("f 스타일")
keyword_format = f'이름:{name}, 나이:{age}, 급여:{salary}원'
print(keyword_format)

C 스타일 문자열 포매팅
이름 : 홍길동, 나이: 30, 급여:3500000원
index 스타일
이름:홍길동, 나이:30, 급여:3500000원
이름:홍길동, 나이:30, 급여:3500000원
f 스타일
이름:홍길동, 나이:30, 급여:3500000원

In [30]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# str.format 문자열 포매팅

이름:홍길동, 나이:30, 급여:3500000원
직원이름:홍길동, 나이:30, 세후 월급 출력:3150000.0원
직원이름:홍길동, 나이:30, 급여:3500000원, 세금:350000.0원,세후 월급 출력:3150000.0원

In [31]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# f-문자열 포매팅
# 이름, 나이, 월급 출력
print(f'이름:{name}, 나이:{age}, 급여:{salary}원')

# 직원이름, 나이, 세후 월급 출력
print(f'직원이름:{name}, 나이:{age}, 세후 월급 출력:{salary - salary*tax_rate}원')

# 직원이름, 나이, 월급, 세금, 실수령액 추력
print(f'직원이름:{name}, 나이:{age}, 급여:{salary}원, 세금:{salary*tax_rate}원,세후 월급 출력:{salary - salary*tax_rate}원')

이름:홍길동, 나이:30, 급여:3500000원
직원이름:홍길동, 나이:30, 세후 월급 출력:3150000.0원
직원이름:홍길동, 나이:30, 급여:3500000원, 세금:350000.0원,세후 월급 출력:3150000.0원

## 2-4 컨텍스트 관리

In [33]:
# 파일 오픈 & 클로즈
file = open('output.txt', 'w')
file.write('Hello, world!\n')
file.close()

with open('output2.txt', 'w') as file_object:
    file_object.write('예수 그리스도!!!!\n')

In [ ]:
# 복수개의 파일(읽기 & 쓰기) 관리

In [ ]:
import urllib.request

# URL 연결 관리
('https://raw.githubusercontent.com/jaehwachung/Data-Analysis-with-Open-Source/refs/heads/main/Chapter%203/students.csv')
    data = response.read( ).decode('utf-8')

print(data)